
body{
    background-image: url("assets/background.jpg");
}

header{
    color:  #ff6961;
    font-size: 72px;
    font-family: 'Antic Slab', serif;
    text-align: center;
}


#Stories{
    display: flex;
    justify-content: space-evenly;
}

.inputs{
    background-color:#333333;
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    border: solid;
    border-color: #2a2a2a;
    border-radius: 20px;
    border-width: 5px;
    padding-left:15px;
    padding-right:15px;
}

.inputs:hover{
    width: 300px;
    height: 300px;
}