:root {
    --primaryDark: #184a96;
    --primaryLight: #dfdcbb;
    --accent: #E3B23C;
    --alternate: #593F62;
    --addedPadding: 10px;
}

body{
    font-family: 'Antic Slab', serif;
}
html,
body,
h1,
p {
    margin: 0;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("assets/black.jpg");
}

h1,
label,
#submitButton {
    font-family: 'Antic Slab', serif;
    font-weight: bold;
}

input,
.allMessages>p {
    font-family: 'Antic Slab', serif;
}

h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

.allMessages {
    flex: 1;
    margin-top: 15px;
    width: calc(60% + var(--addedPadding)*2);
    padding: var(--addedPadding);
    border: 5px solid #2a2a2a ;
    background-color: #333333;
    color: white;
    overflow-y: scroll;
    overflow-wrap: break-word;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
    font-size: 32px;
    font-family: 'Antic Slab', serif;
}



.userContainer {
    margin: 20px 0 40px 0;
    width: 60%;
    border: 2px solid var(--accent);
    background-color: var(--primaryLight);
}

label {
    font-size: 1.3em;
    color:white;
}

input {
    font-size: 1.3em;
    background: #333333;
    border: unset;
    border-bottom: var(--alternate) 2px solid;
    caret-color: #333333;
    color:var(--alternate);
}

input:focus {
    outline: none;
}

.userContainer {
    padding: var(--addedPadding);
}

form,
.inputContainer,
.singleInput {
    display: grid;
    grid-gap: var(--addedPadding);
}

form {
    grid-template: auto/1fr auto;
}

.inputContainer {
    grid-template: auto auto/auto;
}

.singleInput {
    grid-template: auto/auto 1fr;
}

#submitButton {
    color: black ;
    background-color: white;
    font-size: 1.3em;
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
}

#submitButton:hover {
    background-color: black;
    color: white;
}

#submitButton:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}